*.pyc
*~
__pycache__
db.sqlite3
/media/
/venv/
.idea/
.vscode/
*.log
*.pot
*.py[cod]
*.swp
*.swo
*.bak
*.orig
*.tmp
*.sass-cache
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
!.hypothesis/Examples
*.pyo
*.seed
*.egg
*.egg-info
.installed.cfg
*.eggs
MANIFEST
.env
